# Ignored files and extensions
*.filters
*.user
*.sdf
*.opensdf
*.suo
*.exe
*.log
*.tlog
*.lib
*.obj
vc120.*
src/Custom/
*.pdb
*.ilk
*.res
~script
build_vs2017/.vs/
build_vs2017/x64/
build_vs2017/win32/
*.iobj
*.ipdb
deploy/exelib/help/*.pdf
app/Custom/
app/Custom/*