# Ignored files and extensions
*.filters
*.user
*.sdf
*.opensdf
*.suo
*.exe
*.log
*.tlog
*.lib
*.obj
vc120.*
src/Custom/
*.pdb
*.ilk
*.res
*.o
*.a
~script
build_vs2017/.vs/
build_vs2017/x64/
build_vs2017/win32/
build_vs2017/build/
build_vs2017/SolarPILOT_vs2017.aps
build_vs2017/*.txt
build_linux/solarpilot
*.iobj
*.ipdb
deploy/exelib/help/*.pdf
app/Custom/
app/Custom/*
deploy/linux/solarpilot
deploy/x64/SolarPILOT.exe*
deploy/x64/*.csv
