/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
span.rvts8
{
 font-size: 11pt;
 color: #243f60;
}
span.rvts9
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts10
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts11
{
 font-size: 11pt;
 color: #4f81bd;
}
span.rvts12
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts16
{
 font-weight: bold;
 color: #000080;
}
span.rvts17
{
 font-style: italic;
 color: #800000;
}
a.rvts18, span.rvts18
{
 color: #008000;
 text-decoration: underline;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts20
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts21
{
 font-weight: bold;
}
span.rvts22
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
a.rvts23, span.rvts23
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 8pt;
 font-style: italic;
}
a.rvts25, span.rvts25
{
 font-size: 8pt;
 font-style: italic;
 color: #ff6600;
 text-decoration: underline;
}
a.rvts25:hover { color: #993300; }
span.rvts26
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-size: 11pt;
 color: #4f81bd;
}
span.rvts28
{
 font-size: 11pt;
 color: #4f81bd;
}
span.rvts29
{
}
span.rvts30
{
 font-style: italic;
}
span.rvts31
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts32
{
 font-family: 'Consolas';
}
span.rvts33
{
 font-size: 9pt;
 color: #7f7f7f;
}
span.rvts34
{
 color: #a5a5a5;
}
a.rvts35, span.rvts35
{
 font-size: 9pt;
 font-style: italic;
 color: #ff8000;
 text-decoration: underline;
}
span.rvts36
{
 color: ;
}
span.rvts37
{
 font-size: 11pt;
 color: #243f60;
}
span.rvts38
{
 font-size: 7pt;
 vertical-align: super;
}
span.rvts39
{
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts40, span.rvts40
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts40:hover { color: #0000ff; }
a.rvts41, span.rvts41
{
 font-size: 8pt;
 font-style: italic;
 color: #ff6600;
 text-decoration: underline;
}
a.rvts41:hover { color: #993300; }
span.rvts42
{
 font-style: italic;
 font-weight: bold;
}
span.rvts43
{
 font-family: 'Times';
 font-weight: bold;
}
span.rvts44
{
 font-size: 11pt;
 font-family: 'consolas';
 font-weight: bold;
 color: #000000;
}
span.rvts45
{
 font-family: 'consolas';
 color: #000000;
}
a.rvts46, span.rvts46
{
 text-decoration: none;
}
span.rvts47
{
 font-weight: bold;
 color: #ff0000;
}
span.rvts48
{
 color: #243f60;
}
span.rvts49
{
 font-weight: bold;
 color: ;
}
span.rvts50
{
 font-style: italic;
}
span.rvts51
{
 font-size: 7pt;
 vertical-align: sub;
}
span.rvts52
{
 font-size: 7pt;
 font-style: italic;
 vertical-align: sub;
}
span.rvts53
{
 font-size: 9pt;
 font-style: italic;
 color: #ff8000;
}
span.rvts54
{
 color: #bf0000;
}
span.rvts55
{
 font-style: italic;
 color: #bf0000;
}
span.rvts56
{
 font-weight: bold;
 color: #000000;
}
span.rvts57
{
 color: #000000;
}
span.rvts58
{
 text-decoration: underline;
}
span.rvts59
{
 font-size: 11pt;
 color: #243f60;
}
span.rvts60
{
 font-size: 11pt;
 color: #243f60;
}
span.rvts61
{
 font-size: 11pt;
 font-style: italic;
 color: #243f60;
}
span.rvts62
{
 font-style: italic;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 7pt;
 font-weight: bold;
 vertical-align: sub;
}
span.rvts64
{
 font-size: 11pt;
 font-weight: bold;
 color: #7f7f7f;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-indent: 48px;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: center;
}
.rvps6
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps7
{
 margin: 0px 0px 0px 22px;
}
.rvps8
{
 margin: 0px 0px 0px 24px;
}
.rvps9
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 24px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 48px;
}
.rvps12
{
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps14
{
 text-align: center;
 margin: 0px 0px 0px 24px;
}
.rvps15
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 0px 0px 6px 24px;
}
.rvps17
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps18
{
 line-height: 1.15;
 margin: 0px 0px 13px 24px;
}
.rvps19
{
 line-height: 1.15;
 margin: 0px 0px 0px 24px;
}
.rvps20
{
 text-align: right;
}
.rvps21
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 24px;
}
.rvps22
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 48px;
}
.rvps23
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 72px;
}
.rvps24
{
 margin: 0px 0px 0px 72px;
}
.rvps25
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 48px;
}
.rvps26
{
 text-align: center;
 margin: 0px 0px 0px 48px;
}
.rvps27
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 72px;
}
.rvps28
{
}
.rvps29
{
}
.rvps30
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 72px;
}
.rvps31
{
 margin: 0px 0px 0px 96px;
}
.rvps32
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 96px;
}
.rvps33
{
 line-height: 1.15;
 margin: 0px 0px 13px 48px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
